<div class="flex flex-column h-full lg:h-20rem w-full justify-content-evenly sm:justify-content-center align-items-center bg-gray-700">
  <div class="flex lg:hidden bg-white h-18rem w-18rem border-circle overflow-hidden p-2">
    <img src="assets/CVPic.jpg" class="border-circle cvPic" />
  </div>
  <div class="hidden lg:flex absolute bg-white h-18rem w-18rem border-circle overflow-hidden p-2 imgPosition">
    <img src="assets/CVPic.jpg" class="border-circle cvPic" />
  </div>
  <div class="flex flex-column m-0 text-center lg:text-left">
    <h1 class="font-bold text-6xl text-white mb-1">MICAH HACK</h1>
    <h2 class="text-3xl font-light text-white mt-0">WEB & SOFTWARE DEVELOPER</h2>
  </div>
</div>
<div class="flex flex-column lg:flex-row w-full">
  <div style="background-color: rgba(228,228,228,255);" class="flex flex-column h-vh w-12 lg:w-4 xl:w-3 p-5">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex flex-column h-full w-full lg:w-8 p-2 sm:-3 lg:p-5">
    <app-timeline icon="pi-user" title="PROFILE" [profileContent]="profileContent"></app-timeline>
    <app-timeline icon="pi-briefcase" title="WORK EXPERIENCE" [workItems]="this.workItems"></app-timeline>
    <app-timeline icon="pi-graduation-cap" title="EDUCATION" [educationItems]="this.educationItems"></app-timeline>
    <app-timeline icon="pi-trophy" title="CERTIFICATES" [educationItems]="this.certificateItems"></app-timeline>
  </div>
  </div>
