<div class="flex flex-column h-full lg:h-20rem w-full justify-content-evenly sm:justify-content-center align-items-center bg-gray-700">
  <div class="flex lg:hidden bg-white h-18rem w-18rem border-circle overflow-hidden p-2">
    <img src="assets/CVPic.jpg" class="border-circle cvPic" />
  </div>
  <div style="left: 16.6vw; top: 160px; transform: translateX(-50%);" class="hidden lg:flex absolute bg-white h-18rem w-18rem border-circle overflow-hidden p-2">
    <img src="assets/CVPic.jpg" class="border-circle cvPic" />
  </div>
  <div class="flex flex-column m-0 text-center lg:text-left">
    <h1 class="font-bold text-6xl text-white mb-1">MICAH HACK</h1>
    <h2 class="text-3xl font-light text-white mt-0">WEB & SOFTWARE DEVELOPER</h2>
  </div>
</div>
<app-sidebar></app-sidebar>
