<div style="background-color: rgba(228,228,228,255);" class="flex flex-column h-vh w-12 lg:w-4 xl:w-3 p-5">
  <div class="flex flex-column h-auto w-full justify-content-center align-items-start lg:mt-8 lg:pt-5">
    <h1 class="mb-1">CONTACT</h1>
    <hr class="h-full w-full" />
    <div class="flex flex-row w-full justify-content-start align-items-center">
      <i class="pi pi-phone mr-4"></i>
      <p>+48 782 501 277</p>
    </div>
    <div class="flex flex-row w-full justify-content-start align-items-center">
      <i class="pi pi-envelope mr-4"></i>
      <p>{{this.email}}</p>
    </div>
    <div class="flex flex-row w-full justify-content-start align-items-center">
      <i class="pi pi-map-marker mr-4"></i>
      <p>Nowy Targ, Poland</p>
    </div>
    <div class="flex flex-row w-full justify-content-start align-items-center">
      <i class="pi pi-globe mr-4"></i>
      <p><a href="https://portfolio.micahhack.co.za" target="_blank">Portfolio.micahhack.co.za</a></p>
    </div>
  </div>

  <div class="flex flex-column h-auto w-full justify-content-center align-items-start mt-8">
    <h1 class="mb-1">SKILLS</h1>
    <hr class="h-full w-full" />
    <ul class="pl-3 m-0">
      <li>Angular</li>
      <li>React</li>
      <li>NodeJs</li>
      <li>C#</li>
      <li>ASP.NET</li>
      <li>Teamwork</li>
      <li>Time Management</li>
      <li>Leadership</li>
      <li>Effective Communication</li>
      <li>Critical Thinking</li>
    </ul>
  </div>

  <div class="flex flex-column h-auto w-full justify-content-center align-items-start mt-8 mb-8">
    <h1 class="mb-1">LANGUAGES</h1>
    <hr class="h-full w-full" />
    <ul class="pl-3 m-0">
      <li>English (Native)</li>
      <li>Afrikaans (Intermediate)</li>
    </ul>
  </div>
</div>
